.title {
  text-align: center;
  font-size: 50px;
  color: rgb(2, 16, 36);
}

.form {
  text-align: center;
}

.input {
  
}

body {
  background-image: linear-gradient(to bottom right, blue, red);
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
}
