* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom right, blue, red);
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
}

.Navbar {
  background-color: rgb(15, 15, 15);

  padding: 10px;
  text-align: center;
  color: white;
}

.GeolocationHead {
  color: black;
}

.infoGeoLoc{
  margin-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  }

.weekSum {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid black;

  text-align: center;
  margin-top: 2%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 2%;
}

.hourlyWeather {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;

  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  

  justify-content: flex-start;
}

.input {
  text-align: center;
}

ul {
  list-style-type: none;
}

h5 {
  font-size: 25px;
  color: black;
  
}

h3 {
  margin-top: 4%;
  margin-bottom: 1%;
  text-align: center;
}

 