* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom right, rgb(37, 37, 250), rgb(247, 62, 62));
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100%;
}

.Navbar {
  background-color: rgb(15, 15, 15);

  padding: 10px;
  text-align: center;
  color: white;
}

.GeolocationHead {
  color: black;
}

.infoGeoLoc{
  margin-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 20px;
  }

.weekCards {
  display: flex;
  flex-direction: row;
}

.hourCards {
  display: flex;
  flex-direction: row;
  

}

.weekSum {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  border: 2px solid black;
  text-align: center;
}

.hourlyWeather {
  width: 15,5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  border: 2px solid black;
  text-align: center;
}

.input {
  text-align: center;
}

ul {
  list-style-type: none;
}

h5 {
  font-size: 25px;
  color: black;
  
}

h3 {
  margin-top: 4%;
  margin-bottom: 1%;
  text-align: center;
}


.footer {
  background-color: rgb(15, 15, 15);
  
  border: 2px solid black;
  text-align: center;
  color: red;
}
 